body,
html {
    text-align: left;
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

table,
th,
td {
    border-collapse: collapse;
    border: 0.01rem solid black;
}

th {
    text-align: center;
}

.arvosana {
    text-align: center;
    max-width: 20%;
}

.kriteeri {
    max-width: 80%;
    text-align: left;
}

.tutkinto {
}


@media (min-width: 0px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .tutkinto {
        font-size: 1em;
    }

    p {
        font-size: 1em;
    }

    .kriteeri {
        font-size: calc(0.5em + 1vw);
    }

    th {
        font-size: calc(0.8em + 1vw);
    }

    .arvosana {
        font-size: calc(0.7em + 1vw);
    }

    ul {
        font-size: 0.8em;

    }
}

@media (min-width: 320px) {
    h1 {
        font-size: calc(1.6em + 1vw);
    }

    h2 {
        font-size: calc(1.2em + 1vw);
    }

    .tutkinto {
        font-size: calc(1em + 1vw);
    }

    p {
        font-size: calc(0.9em + 1vw);
    }

    ul {
        font-size: calc(0.8em + 1vw);

    }

    .kriteeri {
        font-size: calc(0.7em + 1vw);
    }

    th {
        font-size: calc(1em + 1vw);
    }

    .arvosana {
        font-size: calc(1em + 1vw);
    }
}

@media (min-width: 1001px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.7em;
    }

    .tutkinto {
        font-size: 1.2em;
    }

    p {
        font-size: 1.3em;
    }

    ul {
        font-size: 1.1em;
    }

    .kriteeri {
        font-size: 1.03em;
    }

    th {
        font-size: 1.5em;
    }

    .arvosana {
        font-size: 1.3em;
    }
}